.Rona__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/djuti_faerie.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Pao__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/seti_faerie.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Tier__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/ukali_faerie.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Redtail__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/brown_albat.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Tiercel__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/black_albat.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Aplomado__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/beekadoodle_fire.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Jackdaw__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/hallo_airax.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Sparrowhawk__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/Beekadoodle_baby.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Setter__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/skunk_sneekon.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Spaniel__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/clay-sneekon.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Teckel__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/fire_sneekon.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Euclydia__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/fireball_blue.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Bluebelly__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/baby_twigbug.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Tesseract__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/nuk_mutant.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Hadron__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/isl_petpet5.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Gos__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/petpet_archaeo.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Gyr__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/wibreth_red.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Kes__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/gpp_tuco.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Sees__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/beekadoodle_brown.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.BILL.CIPHER__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/surzard_maraquan.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Gamzee__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/geb_halloween.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Magne__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/rock_disco.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.HARDCORE.TO.THE.MEGA__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/fur_discoball_rainbow.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Mullen__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/geb_disco.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Clatter__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/basic_kraachac.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Gaggle__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/orange_twigbug.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Archivist__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/eyeball.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Undying__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/rock_halloween.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Kayne__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/orange_silliam.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.John.Doe__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/woolypapith.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Carcosan__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/fireball_ghost.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Irae__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/darigan_albat.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Qven__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/drugal_faerie.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Presger__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/nebula_boween.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Medarda__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/petpet_des_nuk.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Gilear__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/hotdog_1.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Shub__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/fir_mutant.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Regill__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/carmariller_darigan.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Shoggoth__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/nebula_baby_fireball.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Flumph__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/babyfireball_halloween.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Lamplit__after {
    display: inline-block;
    align-self: center;
    background-size: contain;
    background: url(https://grundoscafe.b-cdn.net/items/nebuladrugal.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Recurve__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/cobrall_white.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Cassilda__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/sklyde_blue.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Braille__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/carma_maraquan.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Adama__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/petpet_robo_fish.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Tyrol__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/petpet_robo_cuttlebot.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Thrace__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/anubis_robot.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Murderbot__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/ghostkerchief_robot.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Noctowl__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/med_pet_albat.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Skarmory__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/seti_stone.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Staraptor__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/beekadoodle_black.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Vaporous__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/surzard_blue.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Feather.Dance__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/beakadoodle_yellow.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Sacred.Fire__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/tik_pterifeather.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Aeroblast__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/bd_uniwings.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Extremespeed__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/kazeriu_green.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Hyper.Beam__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/blue_hissette.gif) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Sand.Tomb__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/ipnib_green.gif) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Aerial.Ace__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/basic_coopird.gif) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Air.Slash__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/fireball_faerie.gif) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Dragon.Dance__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/vullard_cloud.gif) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Shift__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/basic_hissette.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Cycle__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/kazeriu_fire.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Gyre__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/cobrall_snow.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Lunasa__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/ukali_darigan.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Final__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/whoot_halloween.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Smite__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/wibreth_fire.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Radon__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/wibreth_ghost.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Sunrising__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/seti_snow.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Awakenings__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/mauket_halloween.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Lithan__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/kazeriu_faerie.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Sunfish__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/botanical_twigbug.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Stonewood__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/ghoti_faerie.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Falconer__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/hermiteese.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Lanner__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/tralbak_blue.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Saker__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/yellow_albat.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Reliant__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/harris_pirate.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Duty__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/gpp_quetzal_maraquan.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Lien__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/kazeriu_lunar.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Salp__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/snarhook_maraquan.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Toyon__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/pet_des_7.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Sunhawk__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/juma_brown.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Nightlark__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/gathow_blue.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Miraen__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/pet_scado.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Elaphe__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/seece_purple.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Sidewinder__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/skree_darigan.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Pinewood__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/gathow_brown.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Sazera__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/leeria_skunk.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Riverbed__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/white_albat.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Phaino__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/tanizard_fire.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Passer__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/airax_sketch.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.TvT__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/magtile_ghost.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Pepla__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/tomamu_white.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Paizo__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/ukali_woodland.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Creosote__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/fireball_shadow.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Aceri__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/seti_fire.gif);
    background-size: contain;
    width: 60px;
    align-self: center;
    width: 60px;
    height: 60px
    }
.Darlington__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/anubis_ghost.gif);
    background-size: contain;
    width: 60px;
    align-self: center;
    width: 60px;
    height: 60px
    }
.Azata__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/wibreth_brown.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Tepal__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/petpet_grobrin.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Matis__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/isl_petpet16.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Bant__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/krawkpet_11.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Crossings__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/pet_reptillior.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Iskierka__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/petpet_noname.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Apero__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/isl_ghoti.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Astura__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/med_pet_albat.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Cocoan__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/pet_airax.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Taval__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/leeria_base.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Raviner__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/faerie_pet3.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
.Ventral__after {
    display: inline-block;
    align-self: center;
    background: url(https://grundoscafe.b-cdn.net/items/isl_petpet3.gif);
    background-size: contain;
    width: 60px;
    height: 60px
    }
